.Content {
  margin: 16px;
  box-shadow: var(--boxShadow);
  padding-bottom: 8px;
  border-radius: 8px;
  /* width: 260px; */
  width: 90%;
}
.PropertyImg {
  width: 100%;
}
.PropertyImg img {
  display: block;
  width: 100%;
  height: 200px;
}
.ContentDiv {
  margin: 4px 8px;
}
.ContentDetail {
  display: flex;
  justify-content: space-between;
  margin: 3px 0;
}
.Details {
  color: var(--secondary);
  font-size: 14px;
}
.Details i {
  display: inline-block;
  margin-right: 3px;
}
@media (min-width: 720px) {
  .Content {
    width: 300px;
  }
}
